################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityServer/bin/Debug/netcoreapp3.1
/WebAPI/bin/Debug/netcoreapp3.1
